# Variables

In [1]:
nombre = "coto walter"
numero = 89
flotante = 3.14

In [3]:
print(type(nombre)) #String
print(type(numero)) #Int
print(type(flotante)) #Float

<class 'str'>
<class 'int'>
<class 'float'>

# Palabras reservadas

In [5]:
import keyword
print(keyword.kwlist) # No puedes utilizar estas variables en Python

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [9]:
# 30años = 30 no es correcto print(30años)// no puede empezzar por numero
edad30 = 30 #correcto

In [11]:
#ell@s = "ellos" no se puede utilizar este caracter especial

In [13]:
#edad jovenes = 20
#edad jovenes no se puede utilizar espacios en programación

In [16]:
edadJovenes = 20 #camelcase
EdadJovenes = 21 #snakecase
edad_jovenes = 22 #otro tipo xD

In [17]:
x = 20 #Asi es como debe representar una variable

# Constantes

In [20]:
cantidadpersonas = 100
cantidadpersonas

100

In [21]:
cantidadpersonas = 150
cantidadpersonas

150

In [22]:
cantidadpersonas = 170
cantidadpersonas

170

In [29]:
PI = 3.14 #El valor no debe ser modificado si está está en mayusculas
PI

3.14

# Comentarios

In [30]:
nombre = "walter coto" # almoadilla ---- esta variable contiene mi nombre
nombre

'walter coto'

## no aparece por pantalla los comentarios

In [34]:
edad = 23 #esto es una variable


#cccccccc

In [36]:
#'''dsdsdd
#'''sdsdsd

In [38]:
nombre, apellido = "Tony", "Stark"
nombre

'Tony'

In [39]:
apellido

'Stark'

# Numeros

In [48]:
num1 = 40
num2 = 99.99

In [49]:
print(type(int(num2))) #se cambia de float a int

<class 'int'>

In [51]:
print(type(float(num1))) #se cambia de int a float

<class 'float'>

# Operadores Aritmeticos

In [52]:
2+2

4

In [54]:
150-75

75

In [55]:
10*10

100

In [56]:
25/3

8.333333333333334

In [58]:
2**3 #potencia

8

In [60]:
75//9 # se muestra la parte entera

8

In [62]:
100 % 100 #Resto de la división

0

# Operaciones Aritmeticas con Variables

In [65]:
num1 = 10
num2 = 5
num1 + num2

15

In [66]:
num1 - num2

5

In [67]:
num1 * num2

50

In [68]:
num1 / num2

2.0

In [69]:
num1 ** num2

100000

In [70]:
num1 // num2

2

In [71]:
suma = num1 + num2

In [72]:
resta = num1 - num2

In [73]:
suma

15

In [74]:
resta

5

# Jerarquia de operaciones

In [9]:
num1 = 100
num2 = 50
num3 = 25
num4 = 10

In [5]:
num1 + num2 * num3

1350

In [6]:
(num1 + num2) * num3

3750

In [10]:
((num1 + num2) * num3 - num4)

3740

In [12]:
(num1 + num2) * (num3 - num4)

2250

In [14]:
(num1 + num2) * (num3 - num4) / (num1 - num3)

30.0

In [15]:
# (num1 + num2) * (num3 - num4) / (num1 - num1) no se puede dividir por 0

## Ejercicio 1

In [17]:
((((3+2)) / (2*5))**2)

0.25

In [20]:
calculo = pow(5, 2) # se eleva

In [22]:
calculo1 = pow((((3+2)) / (2*5)), 2)

In [23]:
calculo1

0.25

## Ejercicio 2

In [24]:
"El peso total es de ", (23*112) + (54*75)

('El peso total es de ', 6626)

# Cadenas de Texto

In [25]:
"Hola Mundo"

'Hola Mundo'

In [28]:
cadena = "Esto es un ejemplo de cadena de texto"

In [29]:
cadena

'Esto es un ejemplo de cadena de texto'

In [32]:
cadena1 = "Esto es un \'ejemplo\' de cadena de texto" # poner comillas

In [33]:
cadena1

"Esto es un 'ejemplo' de cadena de texto"

In [53]:
#cadena3 = 'Esto es un t\ ejemplo de cadena de texto'
#cadena3

In [57]:
cadena = "Hola walter "
cadena2 = "Coto"

In [58]:
cadena + cadena2

'Hola walter Coto'

In [60]:
cadena2 * 5

'CotoCotoCotoCotoCoto'

In [65]:
"Hola usuario: "+cadena2

'Hola usuario: Coto'

In [73]:
numero = 1

In [77]:
type(str(numero))

str

In [79]:
numero, "Hola Usuario: ",cadena2

(1, 'Hola Usuario: ', 'Coto')

# Debanado de Cadenas

In [81]:
cadena = "Este es un ejemplo de Substring (Debanado de cadenas)"
cadena

'Este es un ejemplo de Substring (Debanado de cadenas)'

In [82]:
len(cadena)

53

In [87]:
cadena[7] #Espacio

' '

In [90]:
cadena[0 : 25]

'Este es un ejemplo de Sub'

In [91]:
cadena[-1]

')'

# Metodos de cadenas

In [92]:
cadena = "Estoy utilizando los metodos de Python"

In [94]:
cadena.lower()

'estoy utilizando los metodos de python'

In [98]:
cadena.upper()

'ESTOY UTILIZANDO LOS METODOS DE PYTHON'

In [99]:
cadena.capitalize()

'Estoy utilizando los metodos de python'

In [100]:
cadena.title()

'Estoy Utilizando Los Metodos De Python'

In [102]:
cadena.swapcase()

'eSTOY UTILIZANDO LOS METODOS DE pYTHON'

# Ejercicio 1

In [112]:
cadena = "Te quiero solo como amigo" # IMPRIME TE QUIERO
cadena = "Te quiero solo como amigo" # IMPRIME AMIGO
cadena = "Te quiero solo como amigo" # ALRREVES

In [106]:
cadena [0 : 9]

'Te quiero'

In [108]:
len(cadena)

25

In [111]:
cadena [20 :25]

'amigo'

In [114]:
cadena + cadena[: : -1]

'Te quiero solo como amigoogima omoc olos oreiuq eT'

In [115]:
cadena[: : -1]

'ogima omoc olos oreiuq eT'

# Ejercicio 2

In [116]:
palabra = "Separado"
cadena = "Este es el uso del metodo Replace" 
#Todas las e MAYUSCULAS en cadena
#Separa las palabras en palabra

In [119]:
cadena.replace("e", "E")

'EstE Es El uso dEl mEtodo REplacE'

In [120]:
palabra.replace("", ",")

',S,e,p,a,r,a,d,o,'

# Entrada salida de datos

In [1]:
nombre = input('Ingresa tu nombre: ')

Ingresa tu nombre: Tony

In [2]:
edad = int(input('Ingresa tu edad: '))

Ingresa tu edad: 31

In [3]:
peso = float(input('ingresa tu peso: '))

ingresa tu peso: 84.6

# Ejercicio 1

In [2]:
from math import sqrt #raices cuadradas

In [3]:
sqrt(100)

10.0

In [13]:
A = int(input("Ingresa el valor de A: "))

Ingresa el valor de A: 3

In [14]:
B = int(input("Ingresa el valor de B: "))

Ingresa el valor de B: -5

In [15]:
C = int(input("Ingresa el valor de C: "))

Ingresa el valor de C: 2

In [16]:
x1 = 0
x2 = 0

In [22]:
if ((B**2)-(4*A*C)) < 0:
    print("No se puede realizar porque no se puede sacar una raiz a un numero menor que 0")
else:
    x1 = (-B + sqrt((B**2)-(4*A*C)))/(2*A)
    X2 = (-B - sqrt((B**2)-(4*A*C)))/(2*A)
    print("La solucion es: \nx1 =",x1, "\nx2 =",x2)

La solucion es:
x1 = 1.0
x2 = 0

# Ejercicio 2

In [2]:
# PP= (P1 + P2 +P3) / 3   PROM= (PP + 2*EP + 3*EF) / 6
# DONDE: P1, P2, P3: PRACTICAS
# PP: PROMEDIO DE PRACTICA
# PROM: PROMEDIO
#EP: examen parcial

In [15]:
practica1 = (float(input("Ingrese el valor de la practica 1: ")))

Ingrese el valor de la practica 1: 10

In [16]:
practica2 = (float(input("Ingrese el valor de la practica 2: ")))

Ingrese el valor de la practica 2: 6

In [17]:
practica3 = (float(input("Ingrese el valor de la practica 3: ")))

Ingrese el valor de la practica 3: 10

In [18]:
ExamenParcial = (float(input("Ingrese el valor del examen parcial: ")))

Ingrese el valor del examen parcial: 10

In [19]:
ExamenFinal = (float(input("Ingrese el valor del examen final: ")))

Ingrese el valor del examen final: 8

In [20]:
PromedioPractica = (practica1 + practica2 + practica3)/3

In [21]:
PromedioFinal = ((PromedioPractica + (2*ExamenParcial)) + (3*ExamenFinal)) / 6

In [26]:
print("El Promedio de Practica del estudiante es de:\n ",PromedioPractica, "\n Y el promedio Final es de:\n ",PromedioFinal)

El Promedio de Practica del estudiante es de:
  8.666666666666666
 Y el promedio Final es de:
  8.777777777777777

# Mostrar datos

In [63]:
nombre = input("Ingresa tu nombre: ")

Ingresa tu nombre: Tony

In [64]:
edad = input("Ingresa tu edad: ")

Ingresa tu edad: 31

In [65]:
nombre, edad

('Tony', '31')

In [66]:
nombre+ edad # Es incorrecto hacer esto.

'Tony31'

In [67]:
"Hola", nombre, "tienes", edad

('Hola', 'Tony', 'tienes', '31')

In [68]:
"Hola {} tienes {} years".format(nombre, edad)

'Hola Tony tienes 31 years'

# Ejercicio 1

In [70]:
#Escribir un programa que solicite al usuario un vocal en minuscula,
#y luego una letra en mayúsculas. El programa debe convertir la 
#letra en minúscula y la vocal en mayúscula, y al final, deben ser concatenadas ambas

In [84]:
vocal = input("Ingresa una vocal En MINUSCULA: ")

Ingresa una vocal En MINUSCULA: a

In [85]:
consonante = input("Ingresa una consonante en MAYUSCULA: ")

Ingresa una consonante en MAYUSCULA: M

In [86]:
vocal = vocal.upper()

In [87]:
consonante = consonante.lower()

In [88]:
print("La consonante fue: {} \nLa vocal fue: {}".format(consonante, vocal))

La consonante fue: m
La vocal fue: A

# Ejercicio 2

In [89]:
# Hacer un programa que pida al usuario su nombre, su edad y su sexoy muestre de la siguiente manera

In [90]:
nombre = input("Ingresa tu nombre: ")

Ingresa tu nombre: Tony

In [92]:
edad = int(input("Ingresa tu edad: "))

Ingresa tu edad: 31

In [97]:
sexo = input("Ingresa tu sexo: ")

Ingresa tu sexo: Masculino

In [98]:
print("Te llamas: {}".format(nombre))
print("Tu edad es: {}".format(edad))
print("Eres: {}".format(sexo))

Te llamas: Tony
Tu edad es: 31
Eres: Masculino

In [105]:
print("Te llamas: {} \nTu edad es: {} \nEres: {}".format(nombre, edad, sexo))

Te llamas: Tony
Tu edad es: 31
Eres: Masculino

# Booleanos

In [106]:
verdadero = True
falso = False

In [107]:
type(verdadero)

bool

# Operadores Comparaciones

In [123]:
num1 = 1000
num2 = 500
num3 = 1000
cadena = "Comparaciones de strings"
cadena2 = "Comparacion"

In [115]:
num1 > num2

True

In [116]:
num2 > num1

False

In [117]:
num1 >= num3

True

In [118]:
num1 > num3

False

In [119]:
num1 <= num3

True

In [120]:
num2 == num3

False

In [121]:
num1 == num3

True

In [122]:
num1 != num2 # Numeros diferentes

True

In [124]:
cadena < cadena2

False

In [125]:
cadena != cadena2

True

# Operadores logicos AND, OR, NOT

In [126]:
10 > 2

True

In [128]:
10 > 2 and 9 > 100 # 9 no es mayor que 100 LAS DOS CONDICIONES TIENEN QUE SER CORRECTAS

False

In [130]:
10 > 2 and 10 == 10

True

In [131]:
99 != 99 and 23 ==23

False

In [133]:
88 > 70 or 88 == 88 # SOLO CON UNA CONDICION ES VERDADERO

True

In [134]:
not 100 == 100 # LA CONDICION  SE VULEVE CONTRARIO

False

# Metodos Booleanos

In [155]:
cadena = "Estoy mostrando los metodos booleanos para las Strings"
cadena
cadena2 = "ANTONIO"
cadena3 = "lol"

In [148]:
cadena.startswith("E") # Se inicia con la E

True

In [149]:
cadena.endswith("s") # acaba en s

True

In [154]:
cadena2.isupper() # Esta todo MAYUSCULA

True

In [157]:
cadena3.islower()# Esta todo en minusculas

True

# Condicionales If y Else

In [167]:
edad = int(input("Dime tu edad: "))
if edad >= 18: # Cuando la condicion es verdadera entra dentro del if
    print("Tu eres mayor de edad. Puedes entra en la Discoteca")
else:
    print("No eres mayor de edad, quedate en casa viendo los Lunies")

Dime tu edad: 18
Tu eres mayor de edad. Puedes entra en la Discoteca

# Elif

In [174]:
jugador = input("¿Que jugador de futbol es sano?: ")
if jugador == "Messi":
    print("Este jugador es demasiado bueno y sano para existir")
elif jugador == "Ronaldo":
    print("Este jugador es muy bueno el bicho")
elif jugador == "Neymar":
    print("Neymar es Sano, pero le hace falta potaje para engordar algo mas")
else:
    print("Incorrecto, ese jugador va por el camino de Maradona")

¿Que jugador de futbol es sano?: Hierro
Incorrecto, ese jugador va por el camino de Maradona

# Condicionales Anidados

In [175]:
nombre = "Maria"
edad = 18

In [185]:
nombre = input("¿Cual es tu nombre: ")
edad = int(input("¿Cual es tu edad?: "))
if nombre == "Toni":
    if edad >= 18:
        print("OK, eres Toni puedes pasar a la Disco")
        
    else:
        print("Toni, eres buena gente pero no puedes pasar a la disco, Ven cuando cumplas 18")
else:
    print("No eres Toni, no puedes pasar")

¿Cual es tu nombre: Toni
¿Cual es tu edad?: 15
Toni, eres buena gente pero no puedes pasar a la disco, Ven cuando cumplas 18

# Listas

In [187]:
lista = ['Python', 120, 'Nombre', 4.14, 6.28]
type(lista)

list

In [189]:
lista[4] # llamamos aun elemento

6.28

In [192]:
len(lista) # del 0 al 4 == 5

5

In [196]:
lista [0] = "python"
lista[0] #Modificamos la lista

'python'

In [197]:
lista

['python', 120, 'Nombre', 4.14, 6.28]

# Debanado de listas

In [198]:
lista = [10, 20, 3.14, "Tony", "Burgos", 7, "Estudiante", "cuaderno"]

In [199]:
lista[5]

7

In [200]:
lista[0 : 5]

[10, 20, 3.14, 'Tony', 'Burgos']

In [201]:
lista[ : 2]

[10, 20]

In [202]:
lista[1 : ]

[20, 3.14, 'Tony', 'Burgos', 7, 'Estudiante', 'cuaderno']

In [203]:
lista[-1]

'cuaderno'

In [205]:
lista[-5 : -2]

['Tony', 'Burgos', 7]

# Metodos listas

In [227]:
lista = [1, 2, 3, 4, 5]
lista

[1, 2, 3, 4, 5]

In [228]:
lista.append(6)
lista

[1, 2, 3, 4, 5, 6]

In [229]:
lista.append("Python") # Siempre va al final de la lista
lista

[1, 2, 3, 4, 5, 6, 'Python']

In [230]:
lista.insert(2, 2.5)# añadimos posicion y valor
lista

[1, 2, 2.5, 3, 4, 5, 6, 'Python']

In [231]:
lista.count(5) #cuantas veces se repite el valor

1

In [232]:
lista.append(5)
lista

[1, 2, 2.5, 3, 4, 5, 6, 'Python', 5]

In [233]:
lista.count(5)

2

In [235]:
lista.index(5) #busca la posicion del valor en su primera posicion

5

In [237]:
lista1 = [2, 5, 4, 1, 0, 3]

In [241]:
lista1.sort()# ordena la lista
lista1

[0, 1, 2, 3, 4, 5]

In [244]:
lista1.reverse()
lista1

[5, 4, 3, 2, 1, 0]

In [255]:
lista2 = ["Python", 24, "Rene", "alex", 12]
lista2[3]

'alex'

In [256]:
lista2.pop() #Elimina el ultimo valor de la lista
lista2

['Python', 24, 'Rene', 'alex']

In [257]:
lista2.remove("Python") #Elimina un dato en espeficico de la lista
lista2

[24, 'Rene', 'alex']

In [258]:
lista4 = [1, 2, 3]
lista5 = [4, 5, 6]

In [260]:
lista6 = lista4 + lista5 #No se puede multiplicar, ni restar, ni dividir, solo sumar
lista6

[1, 2, 3, 4, 5, 6]

In [263]:
"Este es la lista 6: ", lista6

('Este es la lista 6: ', [1, 2, 3, 4, 5, 6])

In [265]:
lista7 = []
type(lista7)

list

# Ejercicio 1

In [270]:
# Sustituir el valor de los dos primeros datos en la lista

In [271]:
lista8 = [20, 50, "Curso", "Python", 3.14]

In [272]:
palabra1 = input("Ingrese el primer valor para sustituir en el espacio 1: ")

Ingrese el primer valor para sustituir en el espacio 1: 1

In [273]:
palabra2 = input("Ingrese el primer valor para sustituir en el espacio 2: ")

Ingrese el primer valor para sustituir en el espacio 2: 2

In [274]:
lista8[0] = palabra1
lista8[1] = palabra2
lista8

['1', '2', 'Curso', 'Python', 3.14]

# Ejercicio 2

In [275]:
#Escribe una lista que tenga los numeros del 1 al 10. Luego, debes hacer
#que los datos que están en las posiciones 4, 7 y 9 sean multiplicados por 2, 
#por ultimo mostrar la lista nueva con los datos nuevos

In [287]:
lista10 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [289]:
lista10[3] = lista10[3]*2
lista10[6] = lista10[6]*2
lista10[8] = lista10[8]*2
lista10

[1, 2, 3, 8, 5, 6, 14, 8, 18, 10]

# Diccionarios

In [292]:
diccionario = {'Usuarios' : "TonyB", 'password' : 12345}
diccionario
#Clave, Valor, Clave, valor

{'Usuarios': 'TonyB', 'password': 12345}

In [294]:
type(diccionario) # no se puede poner la misma clave para distinto valor

dict

In [296]:
diccionario1 = {'Nombre' : 'Tony', 'Apellido' : 'Burgos', 'Estatura': 1.82}
diccionario1

{'Nombre': 'Tony', 'Apellido': 'Burgos', 'Estatura': 1.82}

In [298]:
diccionario1.keys() # Te devuelve las claves

dict_keys(['Nombre', 'Apellido', 'Estatura'])

In [300]:
diccionario1.values() # Te devueve los Valores

dict_values(['Tony', 'Burgos', 1.82])

In [302]:
diccionario1["Estatura"] # Llamar a una clave

1.82

In [304]:
diccionario1["Peso"] = "58 Kg"# Se agrega nueva clave con su valor
diccionario1

{'Nombre': 'Tony', 'Apellido': 'Burgos', 'Estatura': 1.82, 'Peso': '58 Kg'}

In [306]:
diccionario1 ["Nombre"] = "Jesus" #Se cambia valores
diccionario1

{'Nombre': 'Jesus', 'Apellido': 'Burgos', 'Estatura': 1.82, 'Peso': '58 Kg'}

In [307]:
diccionario2 = {1 : 2, 2 : 3, 3 : 4}
diccionario2

{1: 2, 2: 3, 3: 4}

In [308]:
diccionario2.pop(3) # Elimina la calve con valor
diccionario2

{1: 2, 2: 3}

In [310]:
diccionario2.clear() # Limpia el diccionario
diccionario2

{}

In [314]:
diccionario2 = {1 : 2, 2 : 3, 3 : 4}
diccionario2

{1: 2, 2: 3, 3: 4}

In [318]:
diccionario2.get(2)
print(diccionario2.get(2)) # Trae valores

3

In [320]:
diccionario2.setdefault(4, 5) #añade clave y valor
diccionario2

{1: 2, 2: 3, 3: 4, 4: 5}

In [322]:
diccionario3 = {4 : 5, 5 : 6, 6 : 7}

In [325]:
diccionario2.update(diccionario3) # Une dos diccionarios
diccionario2

{1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7}

In [326]:
diccionario2.copy()
diccionario2

{1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7}

# Ejercicio 1

In [327]:
# En el siguiente diccionrio se encuentra algunos capitales de los paises en 
# el mundo, debes realizar un programa que pida un pais al usuario y muestre
# la capital de ese pais, en dado caso el pais no este en el diccionario,
# se debe mostrar un mensaje diciendo que este pais no se encuentra.

In [328]:
#{"Guatemala" : "Cuidad de Guatemala", "Honduras" : "Honduras", "Nicaragua" : "Managua", "Costa Rica" : "San Jose", "Panama" : "Panama", "Argentina" : "Buenos Aires", "Colombia" : "Bogotá", "Venezuela" : "Caracas"}, "España" : "Madrid"

In [332]:
diccionario4 = {"Guatemala" : "Cuidad de Guatemala", "Honduras" : "Tegucigalpa", "Nicaragua" : "Managua", "Costa Rica" : "San Jose", "Panama" : "Panama", "Argentina" : "Buenos Aires", "Colombia" : "Bogota", "Venezuela" : "Caracas", "España" : "Madrid"}
diccionario4

{'Guatemala': 'Cuidad de Guatemala',
 'Honduras': 'Tegucigalpa',
 'Nicaragua': 'Managua',
 'Costa Rica': 'San Jose',
 'Panama': 'Panama',
 'Argentina': 'Buenos Aires',
 'Colombia': 'Bogota',
 'Venezuela': 'Caracas',
 'España': 'Madrid'}

In [341]:
pais = input("Ingrese un país para conocer su capital: ")

Ingrese un país para conocer su capital: Guatemala

In [342]:
letra = pais.capitalize() in diccionario4

In [343]:
if letra == True:
    print(diccionario4[pais.capitalize()])
else:
    print("El pais no se encuentra en el diccionario")

Cuidad de Guatemala

# Ejercicio 2

In [344]:
# Programa que al introducir el numero salga el jugador

In [347]:
diccionario10 = {
    1 : "Casillas", 15 : "Ramos",
    11 : "Caddevila", 14 : "Xabi Alonso",
    3 : "Pique", 5 : "Puyol",
    16 : "Busquets", 8 : "Xavi Hernandez",
    18 : "Pedro", 6 : "Iniesta",
    7 : "Villa"
    
}

In [360]:
OpcionJugador = int(input("Ingresa el numero de jugador: "))

Ingresa el numero de jugador: 15

In [361]:
if OpcionJugador in diccionario10:
    print(diccionario10[OpcionJugador])
else:
    print("No es un numero dentro del diccionario")

Ramos

# Conjuntos

In [364]:
conjunto = {1 , 2, 3, 4, 5}

In [365]:
type(conjunto) #SET ES CONJUNTO

set

In [366]:
conjunto1 = set[(1, 2, 3, 4, 5)]
type(conjunto1)

types.GenericAlias

In [367]:
conjunto2 = (1, 2, 3, 4, 5)
type(conjunto2)

tuple

In [368]:
conjunto3 = set((1, 2, 3, 4, 5))
type(conjunto3)

set

In [373]:
conjunto = {1, 1,  2, 3, 3, 4, 4, 5} 
lista = [1, 1, 2, 3, 4, 5]
print(conjunto)    #NO SE MUESTRA LOS REPETIDOS
print(lista)

{1, 2, 3, 4, 5}
[1, 1, 2, 3, 4, 5]

In [374]:
conjunto.add(20) #Añade al conjunto
conjunto

{1, 2, 3, 4, 5, 20}

In [375]:
conjunto.remove(1)
conjunto

{2, 3, 4, 5, 20}

In [376]:
conjunto.discard(2)
conjunto

{3, 4, 5, 20}

In [377]:
conjunto.pop() #Se elimina el primero
conjunto

{4, 5, 20}

In [378]:
conjunto.update([1, 2, 3])
conjunto

{1, 2, 3, 4, 5, 20}

In [379]:
conjunto.clear()
conjunto

set()

# Tuplas

In [2]:
tupla = (1, 2, 3, 4, 5)
type(tupla)

tuple

In [6]:
tupla1 = 6, 7, 8, 9, 10
type(tupla1)

tuple

In [4]:
tupla[2]

3

In [8]:
tupla[0 : 3]

(1, 2, 3)

In [7]:
tupla + tupla1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Ejercicio 1

In [9]:
# Escribir una tupla con los meses del año, luego, pide al usuario un numero, el que haya ingresado, es el mes que debe mostrar en la tupla

In [11]:
tupla = ("enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre")

In [12]:
opcionmes = int(input("Ingresa tu mes: "))

Ingresa tu mes: 1

In [13]:
"El mes correspondiente es: ", tupla[opcionmes-1]

('El mes correspondiente es: ', 'enero')

# Bucles, while

In [17]:
i = 0 #Empieza desde 0
while i < 10:
    i += 0.5 #empieza el contador desde 1 // Empieza por el numero indicado
    print("Estoy iterando, voy por el salto: {}".format(i))

Estoy iterando, voy por el salto: 0.5
Estoy iterando, voy por el salto: 1.0
Estoy iterando, voy por el salto: 1.5
Estoy iterando, voy por el salto: 2.0
Estoy iterando, voy por el salto: 2.5
Estoy iterando, voy por el salto: 3.0
Estoy iterando, voy por el salto: 3.5
Estoy iterando, voy por el salto: 4.0
Estoy iterando, voy por el salto: 4.5
Estoy iterando, voy por el salto: 5.0
Estoy iterando, voy por el salto: 5.5
Estoy iterando, voy por el salto: 6.0
Estoy iterando, voy por el salto: 6.5
Estoy iterando, voy por el salto: 7.0
Estoy iterando, voy por el salto: 7.5
Estoy iterando, voy por el salto: 8.0
Estoy iterando, voy por el salto: 8.5
Estoy iterando, voy por el salto: 9.0
Estoy iterando, voy por el salto: 9.5
Estoy iterando, voy por el salto: 10.0

# Ejercicio 1

In [1]:
# Escribir un programa que pida un numero al usuario y muestre las tablas de multiplicar de ese numero

In [2]:
numero = int(input("Ingresa un numero para saber su tabla: "))

Ingresa un numero para saber su tabla: 9

In [3]:
i = 0
multi = 0

In [4]:
while i <= 10:
    multi = numero * i
    print("{} x {} = {}".format(numero, i, multi))
    i += 1

9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

# Ejercicio 2

In [5]:
# Escribir un programa que pregunte al usuario su edad y muestre por pantalla
# todos los años que ha cumplido ( desde 1 hasta su edad)

In [6]:
edad = int(input("Digita tu edad, para mostrarte tu anios: "))

Digita tu edad, para mostrarte tu anios31

In [8]:
i = 1

In [10]:
while i != edad:
    print("Has cumplido: {} anios".format(i))
    i += 1

Has cumplido: 1 anios
Has cumplido: 2 anios
Has cumplido: 3 anios
Has cumplido: 4 anios
Has cumplido: 5 anios
Has cumplido: 6 anios
Has cumplido: 7 anios
Has cumplido: 8 anios
Has cumplido: 9 anios
Has cumplido: 10 anios
Has cumplido: 11 anios
Has cumplido: 12 anios
Has cumplido: 13 anios
Has cumplido: 14 anios
Has cumplido: 15 anios
Has cumplido: 16 anios
Has cumplido: 17 anios
Has cumplido: 18 anios
Has cumplido: 19 anios
Has cumplido: 20 anios
Has cumplido: 21 anios
Has cumplido: 22 anios
Has cumplido: 23 anios
Has cumplido: 24 anios
Has cumplido: 25 anios
Has cumplido: 26 anios
Has cumplido: 27 anios
Has cumplido: 28 anios
Has cumplido: 29 anios
Has cumplido: 30 anios

# Bucles, for

In [11]:
lista = ["Uno", "Dos", "Tres"]
type(lista)

list

In [12]:
for i in lista:
    print(i)

Uno
Dos
Tres

In [13]:
tupla = 1, 2, 3, 4, 5
type(tupla)

tuple

In [14]:
for j in tupla:
    print(j)

1
2
3
4
5

In [17]:
for g in range(1, 11): # FOR en RANGE imprime solo hasta un mumero menos de la derecha.
    print(g)

1
2
3
4
5
6
7
8
9
10

In [24]:
for q in range(0, 11, 2): # Va saltando numeros de dos en dos por el ultimo numero(2)
    print(q)

0
2
4
6
8
10

# Break y Continue

In [25]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
for i in range(1, 11): #Parará en el numero 5 por el (break)
    print(i)
    if i == 5:
        break

1
2
3
4
5

In [28]:
for i in range(1, 11): #Omite el numero y contua con la lista
    if i == 6:
        continue
    print(i)

1
2
3
4
5
7
8
9
10

# Ejercicio 1

In [29]:
#Imprimir por pantalla los numeros del 1 al 10, luego, pedir al usuario dos numeros y mostrar el rango de numeros entre ambas cifras

In [31]:
for i in range(1, 11):
    print(i)
num1 = int(input("Ingresa la primera cifra: "))

1
2
3
4
5
6
7
8
9
10
Ingresa la primera cifra: 5

In [32]:
num2 = int(input("Ingresa la segunda cifra: "))

Ingresa la segunda cifra: 20

In [34]:
for i in range(num1, num2 + 1):
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Ejercicio 2

In [30]:
#Pedir al usuario que ingrese 2 numeros, después, se debe mostrar el rango de esos 2 números, pero, solo imprimiendo los números que sean impares

In [ ]:
num1 = int(input("Ingresa el primer numero: "))

In [ ]:
num2 = int(input("Ingresa el segundo numero: "))

In [35]:
for i in range(num1, num2 + 1):
    if i % 2 == 0:
        continue
    print(i)

5
7
9
11
13
15
17
19

# Funciones

In [37]:
num = "70"
type(num) # te devuelve str en el numero

str

In [39]:
type(int(num)) # hago el dato tipo int

int

In [40]:
type(float(num)) #hago que sea float

float

In [41]:
lista = [12, 60, 70, 1, -2]
type(lista)

list

In [43]:
len(lista) # cantidad de numero dentro de la lista

5

In [44]:
max(lista)

70

In [45]:
min(lista)

-2

In [47]:
# def <nombre de la funcion>():
    #<sentencias>

In [51]:
def saludo():
    print("Hola Tony Burgos")
    print("Estoy creando mi propio codigo")

saludo()

Hola Tony Burgos
Estoy creando mi propio codigo

In [52]:
saludo()

Hola Tony Burgos
Estoy creando mi propio codigo

In [53]:
type(saludo())

Hola Tony Burgos
Estoy creando mi propio codigo

NoneType

In [57]:
def tabla7():
    for i in range(11):
        print("7 x {} = {}".format(i, i*7))

tabla7()

7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

# Ejercicio 1

In [58]:
# Crear un programa que tenga una lista, luego crear una funcion con la cual se van a pedir numeros al usuario para agregar a la lista. Debes crear una segunda funcion en donde se ordenen los numeros pares e impares dentro de dos listas nuevas

In [60]:
lista = []
num = 0

In [61]:
def pedir():
    i = 0
    while i <= 5:
        num = float(input("Ingresa un numero: "))
        lista.append(num)
        i += 1

In [62]:
pedir()

Ingresa un numero: 1
Ingresa un numero: 2
Ingresa un numero: 3
Ingresa un numero: 4
Ingresa un numero: 5
Ingresa un numero: 6

In [63]:
lista

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

In [68]:
def ordenar():
    lista.sort()
    pares = []
    impares = []
    for i in lista:
        if i % 2 == 0:
            pares.append(i)
        else:
            impares.append(i)
    print(pares)
    print(impares)
pedir()
ordenar()

Ingresa un numero: 4
Ingresa un numero: 6
Ingresa un numero: 10
Ingresa un numero: 7
Ingresa un numero: 101
Ingresa un numero: 3
[2.0, 2.0, 4.0, 4.0, 4.0, 6.0, 6.0, 6.0, 8.0, 10.0, 54.0, 56.0, 74.0]
[1.0, 3.0, 3.0, 3.0, 5.0, 5.0, 5.0, 7.0, 25.0, 45.0, 101.0]

# Ejercicio 2

In [59]:
# Escribir una función que reciba un número entero positivo y devuelva su factorial.

In [76]:
def factorial():
    num = int(input("Ingresa tu numero y positivo: "))
    if num > 0:
        factorial = 1
        for i in range(1, num + 1):
            factorial = factorial * i
        print(factorial)
        
    else:
        print("El numero es negativo y no podemos proceder")
        
factorial()

Ingresa tu numero y positivo: 6
720

In [99]:
import math
import random

In [81]:
math.pow(10, 3) #Potencia 10 elevado a 3

1000.0

In [83]:
math.sqrt(64) #Raiz Cuadrada con decimales

8.0

In [85]:
math.isqrt(64) #Raiz cuadrada sin decimales

8

In [86]:
math.sin(90)

0.8939966636005579

In [87]:
math.cos(90)

-0.4480736161291701

In [90]:
math.tan(90)

-1.995200412208242

In [91]:
math.factorial(5) # 1 x 2 x 3 x 4 x 5

120

In [103]:
random.randint(1, 100)

17

In [3]:
def entero():
    print('Este dato es un dato entero')
    return 10
def decimal():
    print("Este es un dato decimal")
    return 90.99
    
print(entero())
print(decimal())

Este dato es un dato entero
10
Este es un dato decimal
90.99

In [4]:
def asignacion():
    return 1, 2, 3, 4, 5
variable, variable = 10, 20
a, b, c, d, e = asignacion()
print(a)

1

# Ejercicio 1

In [ ]:
# Crear una funcion que pida dos numeros. Si el primero es mayor al segundo, el programa debe retornar el valor 1; si el segundo es mayor al primero, debe retornar -1; si ambos son iguales, debe retornar 0

In [7]:
def numeros():
    num1 = float(input("Ingrese el primer numero: "))
    num2 = float(input("Ingrese el segundo numero: "))
    if num1 > num2:
        return 1
    elif num2 > num1:
        return -1
    else:
        return 0
print(numeros())

Ingrese el primer numero: 1
Ingrese el segundo numero: 2
-1

# Ejercicio 2

In [5]:
# Escribir una función que calcule el total de una factura tras aplicarle el IVA. La función debe recibir la cantidad sin IVA y el porcentaje de IVA a aplicar, y devolver el total de la factura. Si se invoca la función sin pasarle el porcentaje de IVA, deberá aplicar un 21%.

In [15]:
def total():
    monto = float(input("Ingresa el valor del producto que estas pagando: "))
    iva = int(input("Ingresa el valor del IVA: "))
    if iva != 0:
        if iva > 0:
            totalpagar = ((monto * iva) / 100) + monto
            return totalpagar
        
        else:
            return "El monto del iva es negativo, no podemos avanzar"
        
    else:
        totalpagar = (monto * 0.21) + monto
        return totalpagar
    
print("El total de su monto es: ", total())

Ingresa el valor del producto que estas pagando: 100
Ingresa el valor del IVA: 30
El total de su monto es:  130.0

In [16]:
def suma():
    num1 = 20
    num2 = 30
    suma = num1 + num2
    return suma
print(suma())

50

In [3]:
def suma(num1 , num2):
    suma = num1 + num2
    return suma


print(suma(10 , 35))
print(suma(100 , 50))

45
150

In [13]:
def valores():
    global num1
    global num2
    num1 = 110
    num2 = 40
    resultado = num1 + num2
    return resultado
valores()
resta = num1 - num2 # el contenido no está dentro del codigo
print(resta)

70

In [16]:
def argumento(*num):
    return(type(num))
print(argumento(10))
print(argumento("lol"))
print(argumento(10.1))

<class 'int'>
<class 'str'>
<class 'float'>

In [17]:
def argumento(*num):
    return(type(num))
print(argumento(10))
print(argumento("lol"))
print(argumento(10.1))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [18]:
def argumento(*num):
    for i in num:
        print(i)
        
print(argumento(10, 20, 30, 40, 50))

10
20
30
40
50
None

# Ejercicio 1

In [19]:
# Crear un programa que tenga dos funciones, una que contenga el area de un cuadrado con argumentos de base y altura; y la otra el area de un circulo con argumento de radio

In [22]:
def areaCuadrado(base, altura):
    return base * altura

print(areaCuadrado(10, 5))

50

In [25]:
def areaCirculo(radio):
    return pow(radio, 2) * 3.14
    print(area)
areaCirculo(10)

314.0

# Ejercicio 2

In [20]:
# Escribir una función que reciba una muestra de números en una lista y devuelva su medida.

In [26]:
def medida(*tupla):
    print(len(tupla))
medida(2, 3, 4, 10, 20)

5

# Errores y Excepciones

In [30]:
while True:
    try:
        edad = int(input("Ingrese su edad: "))
        print("Tu edad es", edad)
        break
    except:
        print("Ingresaste un valor erroneo")
    finally:
        print("La ejecucion ha finalizado")

Ingrese su edad: 20
Tu edad es 20
La ejecucion ha finalizado

In [32]:
while True:
    try:
        num1 = int(input("Ingresa un numero: "))
        resultado = 100 / num1
        print(resultado)
        break
    except ZeroDivisionError:
        print("no se puede dividir entre 0")

Ingresa un numero: 0
no se puede dividir entre 0
Ingresa un numero: 4
25.0

In [33]:
while True:
    try:
        edad = int(input("Ingresa tu edad: "))
        print("Tu edad es ",edad)
        break
    except ValueError:
        print("Has colodado un valor error")

Ingresa tu edad: w
Has colodado un valor error
Ingresa tu edad: 30
Tu edad es  30

In [1]:
while True:
    try:
        edad = int(input("Ingresa tu edad: "))
        print("Tu edad es ",edad)
        break
    except KeyboardInterrupt:
        print("\nHas cancelado la ejecucion") #CRTL + C
        break

Ingresa tu edad: 5
Tu edad es  5

# Programacion orientada a objetos

In [5]:
class FabricaTelefonos(): # Clase
    pass # sin sentencias
print(type(FabricaTelefonos))
celular = FabricaTelefonos() # Objeto
celular2 = FabricaTelefonos() #Objeto

print(type(celular))
print(type(celular2))

<class 'type'>
<class '__main__.FabricaTelefonos'>
<class '__main__.FabricaTelefonos'>

In [7]:
def FabricaTelefonos():
    pass
print(type(FabricaTelefonos))
print(type(FabricaTelefonos()))

<class 'function'>
<class 'NoneType'>

## Metodos y Atributos

In [20]:
class FabricaTelefonos():
    marca = "Huawei"
    color = "Negro"
    memoriaRam = 32
    almacenamiento = 128

    def llamar(self , mensaje):
        return mensaje
    def escucharMusica(self):
        print("Estas escuchando musica")
        
telefono = FabricaTelefonos()
telefono.marca
telefono.color
telefono.memoriaRam
telefono.almacenamiento
        
#print(telefono.almacenamiento)
print(telefono.llamar("Hola, ¿Con quien hablo?"))
telefono.escucharMusica()

Hola, ¿Con quien hablo?
Estas escuchando musica

In [25]:
class FabricaTelefonos():
    marca = "Samsung"
    
    def ElaborarHuawei(self):
        self.marca = "Huawei"
telefono = FabricaTelefonos()
print(telefono.marca)
telefono.ElaborarHuawei()
print(telefono.marca) #Con el self selecionas la marca

Samsung
Huawei

In [29]:
class FabricaTelefonos():
    def __init__(self, marca, color):
        self.marca = "Huawei"
        self.color = color
        

telefono = FabricaTelefonos("Huawei", "Azul")
print(telefono.marca)
print(telefono.color)

Huawei
Azul

In [35]:
class FabricaTelefonos():
    def __init__(self, marca, color):
        self.marca = marca
        self.color = color
        print("El objeto {} ha sido creado".format(self.marca))
        
        def __str__(self):
            return "El objeto es {}".format(self.marca)
        
    def __del__(self):
        print("El objeto {} ha sido destruido".format(self.marca))
telefono = FabricaTelefonos("Nokia", "Negro")
print(telefono.marca)
print(telefono)

El objeto Nokia ha sido creado
El objeto Nokia ha sido destruido
Nokia
<__main__.FabricaTelefonos object at 0x000002CA0D0370A0>

In [42]:
class FabricaTelefonos():
    def __init__(self, marca, *colores, **modelos):
        self.marca = marca
        self.colores = colores
        self.modelos = modelos
        
telefono = FabricaTelefonos("Alcatel", "Negro", "Azul", m1 = 500, m2 = 1000)
print(telefono.marca)
print(telefono.colores)
print(telefono.modelos)
telefono.memoria = 512
print(telefono.memoria)

Alcatel
('Negro', 'Azul')
{'m1': 500, 'm2': 1000}
512

In [62]:
class A():
    def __init__(self):
        self.contador = 0
    
    def incrementar(self):
        self.contador += 1
        
    def cuenta(self):
        return self.contador

class B():
    def __init__(self):
        self.__contador = 0
    
    def incrementar(self):
        self.__contador += 1
        
    def cuenta(self):
        return self.__contador
print("Objeto 1")
a = A()
print(a.cuenta())
a.incrementar()
print(a.cuenta())
print(a.contador)

print("Objeto 2")
b = B()
print(b.cuenta())
b.incrementar()
print(b.cuenta())
# print(b.__contador) no se puede llamar por fuera de ello, solo por dentro

Objeto 1
0
1
1
Objeto 2
0
1

In [65]:
class A():
    def __init__(self):
        self._contador = 0 # no se modifica, y se llama con el metodo get
        self._cuenta = 0 #le decimos a otro programador llamar con su metodo get
        
    def incrementar(self):
        self._contador += 1
        
    def cuenta(self):
        return self._contador

a = A()
# print(a.cuenta) # no se hace
# a.cuenta = 20 #tambien no se hace
#print(a._cuenta)

0

In [68]:
class A():
    def __init__(self):
        self._cuenta = 0
        self._contador = 0 
    
    @property    
    def cuenta(self): #metodo GET
        return self._cuenta
    @property
    def contador(self):
        return self._contador
    
a = A()

print(a.cuenta) #Manera correcta de imprimir por pantalla
print(a.contador)

0
0

In [71]:
class A():
    def __init__(self):
        self._cuenta = 0
        self._contador = 0 
    
    @property    
    def cuenta(self): #metodo GET #ATRIBUTO
        return self._cuenta
    
    @cuenta.setter
    def cuenta(self , cuenta):
        self._cuenta = cuenta
    
    @property
    def contador(self):       #ATRIBUTO
        return self._contador
    
    @contador.setter
    def contador(self, contador):
        self._contador = contador
    
a = A()

print(a.cuenta) #Manera correcta de imprimir por pantalla
a.cuenta = 20 #Manera correcta de modificar un valor
print(a.cuenta)
print(a.contador)
a.contador = 10
print(a.contador)

0
20
0
10

In [75]:
class Animales(): #clase padre
    def habla(self):
        print("Yo soy un Animal")
    
    def descripcion(self):
        print("Yo soy un {}".format(self.animal))
    
        
class Perro(Animales): #hereda la clase animales
    pass #No colocamos nada

class Abeja(Animales):
    def __init__(self, animal):
        self.animal = animal


animal = Animales()
animal.habla()

perro = Perro()
perro.habla()
abeja = Abeja("Abeja")
abeja.descripcion()

Yo soy un Animal
Yo soy un Animal
Yo soy un Abeja

In [79]:
class Animales():
    def __init__(self, nombre):
        self.nombre = nombre
        
class Perro(Animales):
    def __init__(self, nombre, sonido):
        super().__init__(nombre)
        self.sonido = sonido
        
perro = Perro("Firulais", "Guauoo!")

print(perro.nombre) #no se hace asi----
print(perro.sonido)

Firulais
Guauoo!

In [84]:
class A():
    def primero(self):
        return "Esta es la clase A"
    
class B():
    def segunda(self):
        return "Esta es la clase B"
    
class C(A , B):
    pass

c = C()
print(c.primero())
print(c.segunda())

Esta es la clase A
Esta es la clase B

In [90]:
class Animales():
    def __init__(self, mensaje):
        self.mensaje = mensaje
        
    def hablar(self):
        print(self.mensaje)
        
class Perro(Animales):
    def hablar(self):
        print("Yo hago Guauuu!") # El super se pone con el metodo __init__
        
class Pez(Animales):
    def hablar(self):
        print("Yo no hablo")
        
perro = Perro("Guauuu!")
perro.hablar()

animal = Animales("Miau!")
animal.hablar()
pez = Pez("Nada")
pez.hablar()

Yo hago Guauuu!
Miau!
Yo no hablo

# Ejercicio 1

In [91]:
# Realizar un programa que conste de una clase llamada Estudiante, que tenga como atributos el nombre y la nota del alumno. Definir los métodos para inicializar sus atributos, imprimirlos y mostrar un mensaje con el resultado de la nota y si ha aprobado o no.

In [99]:
class Estudiante():
    def __init__(self, nombre, nota):
        self.nombre = nombre
        self.nota = nota
    
    def imprimir(self):
        print("Nombre: {} \nNota: {}".format(self.nombre, self.nota))
        
    def resultados(self):
        if self.nota < 7:
            print("Has reprobado!")
        else:
            print("Has aprobado!")
            
estudiante1 = Estudiante("Daniel", 10)
estudiante1.imprimir()
estudiante1.resultados()

estudiante2 = Estudiante("Carla", 5)
estudiante2.imprimir()
estudiante2.resultados()

Nombre: Daniel
Nota: 10
Has aprobado!
Nombre: Carla
Nota: 5
Has reprobado!

# Ejercicio 2

In [100]:
# Realizar un programa en el cual se declaren dos valores enteros por teclado utilizando el método __init__. Calcular después la suma, resta, multiplicación y división. Utilizar un método para cada una e imprimir los resultados obtenidos. Llamar a la clase Calculadora.

In [104]:
class Calculadora():
    def __init__(self):
        self.num1 = int(input("Ingrese el primer Valor: "))
        self.num2 = int(input("Ingrese el segundo Valor: "))
        
    def suma(self):
        self.suma = self.num1 + self.num2
        return "La suma da como resultado: ",self.suma
    
    def resta(self):
        self.resta = self.num1 - self.num2
        return "La resta da como resultado: ",self.resta
    
    def multiplicacion(self):
        self.multiplicacion = self.num1 * self.num2
        return "La multiplicacion da como resultado: ",self.multiplicacion
    
    def division(self):
        self.division = self.num1 / self.num2
        return "La division da como resultado:",self.division
    
calcular = Calculadora()
print(calcular.suma())
print(calcular.resta())
print(calcular.multiplicacion())
print(calcular.division())

Ingrese el primer Valor: 5
Ingrese el segundo Valor: 2
('La suma da como resultado: ', 7)
('La resta da como resultado: ', 3)
('La multiplicacion da como resultado: ', 10)
('La division da como resultado:', 2.5)

# Ejercicio 3

In [105]:
# Crear una clase Fabrica que tenga los atributos de Llantas, Color y Precio; luego crear dos clases mas que hereden de Fabrica, las cuales son Moto y Carro. Crear metodos que muestren la cantidad de llantas, color y precio de ambos transportes. Por ultimo, crear objetos para cada clase y mostrar por pantalla los atributos de cada uno

In [108]:
class Fabrica():
    def __init__(self, llantas, color, precio):
        self.llantas = llantas
        self.color = color
        self.precio = precio
class Carro(Fabrica):
    def datos(self):
        print("La cantidad de llantas del coche es de: ",self.llantas)
        print("El color del carro es: ", self.color)
        print("El precio del carro es de: ",self.precio)
class Moto(Fabrica):
    def datos(self):
        print("La cantidad de llantas de la moto es de: ",self.llantas)
        print("El color de la moto es de: ",self.color)
        print("El precio de la moto es: ", self.precio)
        
moto = Moto(2, "Negro", 4000)
coche = Carro(4, "Azul", 18000)
moto.datos()
coche.datos()

La cantidad de llantas de la moto es de:  2
El color de la moto es de:  Negro
El precio de la moto es:  4000
La cantidad de llantas del coche es de:  4
El color del carro es:  Azul
El precio del carro es de:  18000

# Ejercicio 4

In [109]:
# Crear una clase llamada Marino(), con un metodo que sea hablar, en donde muestre un mensaje que diga "Hola...". Luego, crear una clase Pulpo() que herede Marino, pero modificar el mensaje de hablar por "Soy un Pulpo". Por ultimo, crear una clase Foca(), heredada de Marino, pero que tenga un atributo nuevo llamado mensaje y que muestre ese mesjae como parametro

In [116]:
class Marino():
    def hablar(self):
        print("Hola...")
        
class Pulpo(Marino):
    def hablar(self):
        print("Soy un pulpo")
        
class Foca(Marino):
    def hablar(self, mensaje):
        self.mensaje = mensaje
        print(self.mensaje)
marino = Marino()
marino.hablar()

pulpo = Pulpo()
pulpo.hablar()

foca = Foca()
foca.hablar("Hola, soy una foca")
#POLIFORMISMO

Hola...
Soy un pulpo
Hola, soy una foca

# Ejercicio 5

In [117]:
# Crear un programa con tres clases Universidad, con atributos nombre (Donde se almacena el nombre de la Universidad). Otra llamada Carerra, con los atributos especialidad (En donde me guarda la especialidad de un estudiante). Una ultima llamada Estudiante, que tenga como atributos su nombre y edad. El programa debe imprimir la especialidad, edad, nombre y universidad de dicho estudiante con un objeto llamado persona.

In [10]:
class Universidad():
    def __init__(self,Nombre):
        self.Nombre = Nombre
        
class Carrera():
    def carrera(self, especialidad):
        self.especialidad = especialidad
        
class Estudiante(Universidad, Carrera):
    def datos(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad
        print("Mi nombre es {}, tengo {} años y mi especialidad es {}. Estudio en la universidad {}".format(self.nombre,self.edad,self.especialidad,self.Nombre))

persona = Estudiante("de la UMA")
persona.carrera("Economicas")
persona.datos("Tony", 30)

Mi nombre es Tony, tengo 30 años y mi especialidad es Economicas. Estudio en la universidad de la UMA